.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin:auto 1rem;
  vertical-align: middle
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(237, 63%, 64%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(237, 63%, 64%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.cardHolder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem auto;
  max-width: 50vw;
}
.card{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid hsl(237, 63%, 64%);
  border-radius: 1rem;
  width: 33%;
  margin:1rem 0;
}
.mid{
  margin: 0;
  padding-top: 1rem;
  border: none;
  background: linear-gradient( hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color:white;
}
.cardInner{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 4rem 0;
}
.cardInner span{
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid blue;
}
.cardInner span:last-of-type{
  border-bottom: 1px solid blue;
}
.mid span{
  border-top: 1px solid white;
}
.mid span:last-of-type{
  border-bottom: 1px solid white;
}
.cardInner button{
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem .5rem;
  margin-top: 2rem;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color:white;
  text-transform: uppercase;
  font-weight: 700;
}
.mid button{
  border: 1px solid white;
  background: white;
  color: hsl(237, 63%, 64%);
}
button:hover{
    cursor: pointer;
    background: none;
    color:hsl(237, 63%, 64%);
    border:1px solid hsl(237, 63%, 64%);
}
.mid button:hover{
  color:white;
  border:1px solid white;
}
