.nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
}
.logo {
  margin-left: 1rem;
}
.linkBar {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  backdrop-filter: blur(5rem);
  color: white;
}
.linkBar a {
  text-transform: uppercase;
}

@media (width>375px) {
  .nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-left: 3rem;
  }
  .linkBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    backdrop-filter: blur(5rem);
    color: white;
    padding: 2rem;
  }
  .linkBar a:hover {
    color: red;
  }
}
