.nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 3rem;
}
.linkBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  backdrop-filter: blur(5rem);
  color: white;
  padding: 2rem;
}
.linkBar a {
  text-transform: uppercase;
}
