.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  font-size: 1.5rem;
  text-align: justify;
}
.spaceTitle {
  display: block;
  margin: 2rem 0;
  font-size: 6rem;
  text-align: justify;
}

/* Tablet and Smaller Desktop */
@media (width>375px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8rem;
    min-height: 100vh;
    width: 45%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 200%;
  }
  .spaceTitle {
    display: block;
    margin: 3rem 0;
    padding: 3rem 0;
    font-size: 8rem;
    text-align: justify;
  }
}
